<h1 class="text-center fs-1 mt-3 mb-2">YOUR PRODUCTS</h1>
<tbody class="container text-center d-flex flex-column  justify-content-center align-items-center">
<div  class="d-flex">
    

  <input 
  type="text" 
  class="form-control col-md-5" 
  placeholder="🔍Search for a product..." 
  [(ngModel)]="searchTerm" 
  (input)="searchProducts()" />
  <input 
    (input)="filterProductsByPrice()"
      type="number" 
      placeholder="min price" 
      [(ngModel)]="minPrice" 
      class="form-control col-md-2" />
    <input 
      type="number" 
      placeholder="max price" 
      [(ngModel)]="maxPrice" 
      class="form-control col-md-2"  (input)="filterProductsByPrice()" />
</div>

@if(liste.length==0){
    <h1>You haven’t added anything yet</h1>
    
}@else{

    <table class="table ">
        <thead>
          <tr>
            <th scope="col">Product</th>
           
            <th scope="col">price</th>
            <th scope="col"> quantity</th>
            <th scope="col"> deleta</th>
            <th scope="col"> update</th>

            <th></th>
          </tr>
        </thead>
        <tbody>
            @for(tab of filteredProducts;track $index){
          <tr>
            <td class="d-flex align-content-center align-items-center">
                <div class="col-md-4">    
                  <img [src]="tab.photo" [routerLink]="['/user/product',tab.id]"  width=150px height=150px>
                  <p>id : {{tab.id}}  {{tab.name|star:tab.nbLikes}}</p>
                </div>
                <div class="col-md-8">
                    <h4><strong> {{ tab.name }}</strong></h4>
                    <p >{{ tab.painter }}
                    <em class="col-md-3">{{ tab.dateCreate | date }}</em> </p>
                    <p><strong>Dimensions:</strong> {{ tab.width }}m -{{tab.height}}m</p>
                    <p><strong>Category:</strong> {{ tab.category }}</p>
                </div>
            </td>
            
             
            <!-- <td class="align-content-center align-items-center">          
                <span class="fw-bold fs-5">{{tab.qte}}</span>
            </td> -->
            <td class="align-content-center align-items-center">
                @if(tab.discount>0){
                    <!-- produit avec discount -->
                        <span class="text-muted ms-3 fs-6" style="text-decoration: line-through;">
                          {{ tab.price | currency }}
                        </span>     
                        <br>       
                        <span class="text-danger fw-bold fs-5">
                          {{ (tab.price * (1 - tab.discount / 100)) | currency }}
                        </span>
                        <br>
                        <span class="badge text-bg-success ms-5 fs-7">
                          -{{ tab.discount }}%
                        </span>
                  }@else {
                    <span class="fw-bold fs-5" >
                      {{ tab.price | currency }}
                    </span>
                }
            </td>
            <td class="align-content-center align-items-center">
              <span class="fw-bold fs-5">{{tab.quantity}}</span><br>
              @if(tab.disponibility){<span class=" fs-5 text-bg-success">disponile</span>}
              @else{<span class=" fs-5 text-bg-danger">Sold OUT</span>}

            </td>
            <td class="align-content-center align-items-center">
              <button class="btn btn-danger" (click)="delete(tab.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
                delete
              </button>
            </td>
            <td class="align-content-center align-items-center">
              <button class="btn btn-success" [routerLink]="['/user/update',tab.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
                update
              </button>
            </td>
          </tr>
        }
        </tbody>
      </table>
      
    
      

 
}

</tbody>

