<mat-toolbar  class="m-1 h-25 " >
    <!--thez lel home-->
    <span mat-button routerLink="/home">
        
        <img src="aboutUsPhotos/logo.jpg" height="125px" width="125px" class="br-5 rounded-circle">
    </span>
    <span mat-button routerLink="/change">
        change
    </span>

    <div class="example-spacer">
    <!-- <button mat-button routerLink="/allTab">products</button> 
        hedhi bch n7ot click here for more wala faza-->
    </div> 

  
    <button mat-icon-button routerLink="Users" routerLink="/wishList" class="example-icon favorite-icon " aria-label="Example icon-button with heart icon">
        <mat-icon class="fs-3">add_shopping_cart</mat-icon>
    </button>
    
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="fs-3">search</mat-icon>
    </button>


    <button routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="fs-3">person</mat-icon>
    </button>



</mat-toolbar>
<router-outlet></router-outlet>
  