<mat-toolbar class="m-1  " >
    <!--thez lel home-->
    <span mat-button routerLink="/home">
        
        Gallery
    </span>
    <span mat-button routerLink="/change">
        change
    </span>

    <div class="example-spacer">
    <!-- <button mat-button routerLink="/allTab">products</button> 
        hedhi bch n7ot click here for more wala faza-->
    </div> 

  
    <button mat-icon-button routerLink="Users" routerLink="/wishList" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
    
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/user']">
        <mat-icon>person</mat-icon>
    </button>



</mat-toolbar>

  