<div class="container mt-4">
    <h2 class="text-center mb-4">Order List</h2>
  
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  
    <div  class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Client Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Total</th>
          <th>Order Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr >
          @for(order of orders;track $index){
            <td>{{ order.idOrder }}</td>
            <td>{{ order.clientName }}</td>
            <td>{{ order.clientPhoneNumber }}</td>
            <td>{{ order.clientAdress }}</td>
            <td>{{ order.total | currency }}</td>
            <td>{{ order.orderDate | date: 'short' }}</td>
            <td>
              <button class="btn btn-danger btn-sm" >Delete</button>
            </td>
          }
         
        </tr>
      </tbody>
    </table>
  
    <div class="text-center">
      <p>No orders available.</p>
    </div>
  </div>
  