
<div class="image-container">
    <h1 class="overlay-text">FAQ <br> Your Questions Answered</h1>
   
    <img src="imgB2.jpg" alt="FAQ Header Image">
</div>


    <div class="container">
        <ol>
            <li>
                About the artists and their work
                <ul>
                    <li>
                        <strong>How do you choose the artworks available for sale?</strong>
                        <p>We select our artists, and they choose the works they want to sell. Nevertheless, we do moderate the content and it is possible that we may remove a work if its authenticity is questioned.</p>
                    </li>
                    <li>
                        <strong>Who can sell their work on ArtGallery?</strong>
                        <p>All of our artists are well established in their country of residence. We identify these artists across the globe so we can offer you a diverse, high-quality international selection.</p>
                    </li>
                    <li>
                        <strong>Are the artworks available as prints?</strong>
                        <p>All the works on ArtGallery are original artworks; they are not reproduced and further editions are not published by the artist.</p>
                    </li>
                </ul>
            </li>
            <li>
                Services offered by ArtGallery
                <ul>
                    <li>
                        <strong>Is framing available for all works?</strong>
                        <p>Absolutely. Sometimes the artist has already chosen a frame, which we can send you a photo of.</p>
                    </li>
                    <li>
                        <strong>Who is responsible for the cost of framing?</strong>
                        <p>When the artwork is already framed, then the frame is a part of the work and therefore included in the price.</p>
                    </li>
                    <li>
                        <strong>Do you offer recommendations and advice?</strong>
                        <p>We can offer you a personalised selection of about twenty works which are chosen especially for you.</p>
                    </li>
                </ul>
            </li>
            <li>
                Buying art with ArtGallery
                <ul>
                    <li>
                        <strong>How do I find out if you have artworks by the artist I'm looking for?</strong>
                        <p>If you have an artist name in mind, you can search for them on our artists page.</p>
                    </li>
                    <li>
                        <strong>What does the heart next to artworks do?</strong>
                        <p>This symbol allows you to choose the artworks you love while you're on the site, so you can find them all on one single page.</p>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
