<!-- Page de l'artiste -->
<div class="container my-5">
    <!-- Détails de l'artiste -->
    <div class="row">
      <div class="col-md-6">
        <!-- Image de l'artiste (grande image) -->
        <img src="artists\leonard.jpg" alt="Léonard de Vinci" class="img-fluid rounded shadow-lg">
      </div>
      <div class="col-md-6">
        <h1 class="display-4">About Léonard de Vinci</h1>
        <p class="lead">
          Léonard de Vinci était un artiste, inventeur et scientifique italien de la Renaissance, célèbre pour ses œuvres comme "La Joconde" et "La Cène".
        </p>
        <p>
          Né le 15 avril 1452 à Vinci, Italie, il est considéré comme l'un des plus grands génies de l'histoire. Ses travaux en art et en science ont eu une influence durable.
        </p>
        <p>
          Léonard est également connu pour ses croquis d'inventions, ses études anatomiques et ses observations de la nature, qui ont largement contribué aux domaines de la science et de la mécanique.
        </p>
      </div>
    </div>
   <h2 class="margin"> Leonard-de-Vinci's famous paintings</h2>
    <!-- Section des 4 tableaux -->
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="card">
          <img src="classique\Leonard-de-Vinci\imgLV1.jpg" alt="La Joconde" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">La Joconde</h5>
            <p class="card-text">Un portrait légendaire de Lisa Gherardini, également connu sous le nom de "Mona Lisa".</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img src="classique\Leonard-de-Vinci\imgLV2.webp" alt="La Cène" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">La Cène</h5>
            <p class="card-text">Une représentation de la dernière cène de Jésus avec ses disciples.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img src="classique\Leonard-de-Vinci\imgLV3.jpg" alt="L'Annonce de la Mort" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">L'Annonce de la Mort</h5>
            <p class="card-text">Un tableau mythique représentant l’instant de la mort de Jésus Christ, peint par Léonard de Vinci.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img src="classique\Leonard-de-Vinci\imgLV4.jpg" alt="La Dame à l'hermine" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">La Dame à l'hermine</h5>
            <p class="card-text">Un portrait d'une noble femme, Cecilia Gallerani, avec un ermine sur ses bras.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  