
<!--slides des images about us-->

<div class="slider-container">
    <div class="image-wrapper">
      <img [src]="images[currentIndex]" alt="Image {{currentIndex + 1}}" />
      <div class="overlay">
        <h3 class="image-title">Welcome to our Gallery</h3>
        <button class="learn-more-btn" href="aboutUs.html">Learn More</button>
      </div>
    </div>
  </div>

<!-- 

<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile> <app-product></app-product></mat-grid-tile>
  <mat-grid-tile> <app-product></app-product></mat-grid-tile>
  <mat-grid-tile> <app-product></app-product></mat-grid-tile>
  <mat-grid-tile> <app-product></app-product></mat-grid-tile>
  <mat-grid-tile> <app-product></app-product></mat-grid-tile>
  <mat-grid-tile> <app-product></app-product></mat-grid-tile>
  <mat-grid-tile> <app-product></app-product></mat-grid-tile>
  <mat-grid-tile> <app-product></app-product></mat-grid-tile>

</mat-grid-list> -->