
     <div class="d-flex">
        <input 
        type="text" 
        class="form-control col-md-5" 
        placeholder="Search for a product..." 
        [(ngModel)]="searchTerm" 
        (input)="searchProducts()" />
        
          <input 
            type="number" 
            placeholder="Enter max price" 
            [(ngModel)]="maxPrice" 
            class="form-control col-md-2" />
       
          <input 
            type="number" 
            placeholder="Enter min price" 
            [(ngModel)]="minPrice" 
            class="form-control col-md-2" />
        
          <button (click)="filterProductsByPrice()" class="col-md-2">Search</button>
      </div>
      @if(filteredProducts.length==0){
          <h1 class="text-center fs-1 mt-3 mb-2">SORRY! PRODUCTS NOT FOUND :( </h1>
      
      }
          <div class="d-flex flex-wrap">
              @for(tab of filteredProducts;track $index){
                   <app-product  [tab]="tab"></app-product> 
               }
           </div>
      