<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow-lg p-4" style="width: 40rem; border-radius: 15px;">
        <h2 class="text-center mb-4">Change Password</h2>
        <form id="changePasswordForm" [formGroup]="passwordGroup" class="needs-validation">

            <div class="mb-3">
                <label for="email" class="form-label">Old Password</label>
                <div>
                    <input type="password" name="password" placeholder="............" 
                        formControlName="OldPassword" class="form-control-plaintext" />
                    @if(isInvalidOldPassword()) {
                    <div class="alert alert-danger mt-2">
                        Password must be at least 6 characters long!
                    </div>
                    }
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <div>
                    <input type="password" name="password" placeholder="............." 
                        formControlName="NewPassword" class="form-control-plaintext" />
                    @if(isInvalidNewpwd()) {
                    <div class="alert alert-danger mt-2">
                        Password must be at least 6 characters long!
                    </div>
                    }
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <div>
                    <input type="password" name="password" placeholder=".............." 
                        formControlName="confirmPassword" class="form-control-plaintext" />
                    @if(isInvalidconfirmPassword()) {
                    <div class="alert alert-danger mt-2">
                        Password must be at least 6 characters long!
                    </div>
                    }
                </div>
            </div>

            @if(msg)
            {
            <div class="alert alert-danger">
                {{msg}}
            </div>
            }
            <button type="submit" [disabled]="passwordGroup.invalid" 
                class="btn btn-success w-100" (click)="onChange()">Save</button>
        </form>
        <div class="d-flex justify-content-between mt-3">
            <a routerLink="/login" class="text-decoration-none">Login</a>
            <a routerLink="/" class="text-decoration-none">Back</a>
        </div>
    </div>
</div>
