
  <!-- if ecrir wrong pwd changer mot de passe   -->
  <div class="container">
    <div class="screen-1">
        <form id="changePasswordForm" [formGroup]="passwordGroup">
       
        <div class="email">
          
            <label for="email">New password</label>
            <div class="sec-2">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="password" name="password" placeholder="Enter new password" formControlName="NewPassword"/>
                @if(isInValidNewpwd()) {
                    <div class="alert alert-danger mt-2">
                        Password must be at least 6 characters long!
                    </div>
                }
            </div>
        </div>
        <div class="password">
            <label for="password">Confirm password</label>
            <div class="sec-2">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password"placeholder="Confirm new password" formControlName="ConfirmPassword" />
                @if(isInValidConfirmpwd()) {
                    <div class="alert alert-danger mt-2">
                        Password must be at least 6 characters long!
                    </div>
                }
                <ion-icon class="show-hide" name="eye-outline"></ion-icon>
            </div>
        </div>
        <button [disabled]="passwordGroup.invalid" type="submit"  class="login" (click)="onSubmit()">Save</button>
    </form>
        <div class="footer">
           <a routerLink="/user">Login</a> 
        </div>
    </div>
    </div>
