<!-- Page de l'artiste -->
<div class="container my-5">
    <!-- Détails de l'artiste -->
    <div class="row">
      <div class="col-md-6">
        <!-- Image de l'artiste (grande image) -->
        <img src="artists\albert.jpg" alt="Albert Marquet" class="img-fluid rounded shadow-lg">
      </div>
      <div class="col-md-6">
        <h1 class="display-4">About Albert Marquet</h1>
        <p class="lead">
          Albert Marquet  was a French painter. He initially became one of the Fauve painters and a lifelong friend of Henri Matisse.
        </p>
        <p>
          Marquet subsequently painted in a more naturalistic style, primarily landscapes, but also several portraits and, between 1910 and 1914, several female nude paintings.
        </p>
        <p>
          Marquet was born in 1875 in Bordeaux. In 1890 he moved to Paris to attend the École des Arts Decoratifs, where he met Henri Matisse. They were roommates for a time, and they influenced each other's work. Marquet began studies in 1892 at the École des Beaux-Arts under Gustave Moreau, a symbolist artist who was a follower of the Romantic tradition of Eugène Delacroix.
        </p>
      </div>
    </div>
   <h2 class="margin"> Albert Marquet's famous paintings</h2>
    <!-- Section des 4 tableaux -->
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="card">
          <img src="Fauve\Albert-Marquet\imgAM1.jpeg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">La Joconde</h5>
            <p class="card-text">Un portrait légendaire de Lisa Gherardini, également connu sous le nom de "Mona Lisa".</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img src="Fauve\Albert-Marquet\imgAM2.jpeg" alt="La Cène" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">La Cène</h5>
            <p class="card-text">Une représentation de la dernière cène de Jésus avec ses disciples.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img src="Fauve\Albert-Marquet\imgAM3.jpg" alt="L'Annonce de la Mort" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">L'Annonce de la Mort</h5>
            <p class="card-text">Un tableau mythique représentant l’instant de la mort de Jésus Christ, peint par Léonard de Vinci.</p>
          </div>
        </div>
      </div>
  
     
    </div>
  </div>
  