<div id="box">
  <img [src]=tab.photo>
  <h2>{{tab.name}}</h2>
  <div id="next">
    @if(!tab.disponibility){
    <!-- produit non disponible -->
    <div class="alert alert-danger text-center" role="alert">
      Sold Out
    </div>
    }@else if(tab.discount>0){
    <!-- produit avec discount -->
    <div>
      <span class="text-muted " style="text-decoration: line-through;">
        {{ tab.price | currency }}
      </span>

      <span class="text-danger ">
        {{ (tab.price * (1 - tab.discount / 100)) | currency }}
      </span>
    </div>
    <strong class=" text-success ">
      -{{ tab.discount }}%
    </strong>

    }@else {
    <span class="text-muted ms-3">
      {{ tab.price | currency }}
    </span>
    }
    <div [ngClass]="{'red': like}" (click)="onlike(tab)" class="material-symbols-outlined">
      favorite
      <p>{{tab.nbLikes}}</p>
    </div>
    <button (click)="openDialog(tab)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>

  </div>
</div>