<div id="box" >
  <div >{{tab.name|star:tab.nbLikes}}</div>
  <img [src]=tab.photo [routerLink]="['/product',tab.id]">
  <h2>{{tab.name}}</h2>
  <div class="d-flex justify-content-between">
    @if(!tab.disponibility  || tab.quantity<0){
    <!-- produit non disponible -->
    <div class="alert alert-danger text-center" role="alert">
      Sold Out
    </div>
    }@else if(tab.discount>0){
    <!-- produit avec discount -->
    <div>
      <span class="text-muted " style="text-decoration: line-through;">
        {{ tab.price | currency }}
      </span>
      <br>
      <span class="text-danger fs-5 ">
        {{ (tab.price * (1 - tab.discount / 100)) | currency }}
      </span>
    </div>
    <strong class=" text-success ">
      -{{ tab.discount }}%
    </strong>

    }@else {
    <span class=" ms-3  fs-5 ">
      {{ tab.price | currency }}
    </span>
    }
    <div [ngClass]="{'red': like}" (click)="onlike(tab)" class="material-symbols-outlined">
      favorite
      <p>{{tab.nbLikes}}</p>
    </div>
    

  </div>
</div>