<app-tool-bar ></app-tool-bar> 
<!-- <app-tables></app-tables> -->
 <router-outlet></router-outlet>    
  <!-- <app-albert-marquet></app-albert-marquet> -->
 <!-- <app-edit-table></app-edit-table> -->
  <!-- <app-conditions></app-conditions> -->
   <!-- <app-plan-de-site></app-plan-de-site> -->
    <!-- <app-faq></app-faq> -->
     <!-- <app-order-list></app-order-list> -->
      <!-- <app-create-product></app-create-product> -->
     <!-- <app-product></app-product> -->
     <!-- <app-about-us></app-about-us> -->
    
      <app-prod-list></app-prod-list>
      <!-- <app-edit-table></app-edit-table> -->
<app-footer ></app-footer> 
