<div class="container mt-4">


  <!-- Barre de recherche -->
  <div class="input-group mb-3 w-50 mx-auto">
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
      [(ngModel)]="searchTerm"
      aria-label="Rechercher"
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="onSearch()"
    >
      <i class="bi bi-search"></i>
    </button>
  </div>

  <!-- Liste des produits filtrés -->
  <ul class="list-group">
    @for (table of filteredTables || tables; track $index) {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <h6 class="mb-0">{{ table.name }}</h6>
          <small class="text-muted">
            ID: {{ table.id }} | Catégorie: {{ table.category }} | Prix: {{ table.price }}€
          </small>
          @if(!table.disponibility){
          <div class="d-flex align-items-center ms-3">
  <span class="badge bg-danger text-white d-flex align-items-center justify-content-center">
            <i class="bi bi-exclamation-circle me-2"></i>Indisponible
          </span>
          </div>}
        </div>
        <div class="d-flex">
          <button
            class="btn btn-outline-warning btn-sm me-2"
            [routerLink]="['/editTable', table.id]"
            title="Editer"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="onDelete(table.id)"
            title="Supprimer"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </li>
    }
  </ul>
</div>
