<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 col-lg-4"> <!-- Control form width on different screens -->
        <h2 class="text-center mb-4">Change Your Password</h2>
        <form id="changePasswordForm" [formGroup]="passwordGroup">
            <!-- New Password Field -->
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Enter new password" formControlName="NewPassword">
                @if(isInValidNewpwd()) {
                    <div class="alert alert-danger mt-2">
                        Password must be at least 6 characters long!
                    </div>
                }
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group mt-3">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password" formControlName="ConfirmPassword">
                @if(isInValidConfirmpwd()) {
                    <div class="alert alert-danger mt-2">
                        Password must be at least 6 characters long!
                    </div>
                }
            </div>

            <!-- Submit Button -->
            <button [disabled]="passwordGroup.invalid" type="submit" class="btn btn-primary mt-4 w-100" (click)="onSubmit()">Submit</button>
        </form>
    </div>
</div>
