<img src="aboutUsPhotos\logoBackground.jpg" width="100%" height="300px">

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-3"  routerLink="/home">Home</a>
        <div class="d-flex justify-content-around ">
        <a class="nav-link active fs-4" routerLink="/user/productEdit">Products </a>
        <a class="nav-link fs-4" routerLink="/user/addProduct">add product</a>

        <a class="nav-link fs-4" routerLink="/user/orderEdit">Order</a>
</div>

        <button class="btn btn-outline-success" type="submit" (click)="logout()">Log OUT</button>
    </div>
  </nav>
  <router-outlet></router-outlet>