<h1 class="text-center fs-1 mt-3 mb-2">YOUR WISH LIST</h1>
<tbody class="container text-center d-flex flex-column  justify-content-center align-items-center">

@if(wishList.length==0){
    <h1>You haven’t added anything to your wishlist yet</h1>
    
}@else{

    <table class="table ">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
            <th scope="col">Total Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            @for(tab of wishList;track $index){
          <tr>
            <td class="d-flex align-content-center align-items-center">
                <img [src]="tab.article.photo" class="col-md-4" width=150px height=150px>
                <div class="col-md-8">
                    <h4><strong> {{ tab.article.name }}</strong></h4>
                    <p >{{ tab.article.painter }}</p>
                    <em class="col-md-3">{{ tab.article.dateCreate | date }}</em> 
                </div>
            </td>
            <td class="align-content-center align-items-center">          
                <span class="fw-bold fs-5">{{tab.qte}}</span>
            </td>
            <td class="align-content-center align-items-center">
                @if(tab.article.discount>0){
                    <!-- produit avec discount -->
                        <span class="text-muted ms-3 fs-6" style="text-decoration: line-through;">
                          {{ tab.article.price | currency }}
                        </span>     
                        <br>       
                        <span class="text-danger fw-bold fs-5">
                          {{ (tab.article.price * (1 - tab.article.discount / 100)) | currency }}
                        </span>
                        <br>
                        <span class="badge text-bg-success ms-5 fs-7">
                          -{{ tab.article.discount }}%
                        </span>
                  }@else {
                    <span class="fw-bold fs-5" >
                      {{ tab.article.price | currency }}
                    </span>
                }
            </td>
            <td class="align-content-center align-items-center">
                @if(tab.article.discount>0){
                    <!-- produit avec discount -->
                              
                        <span class="fw-bold fs-5">
                          {{ tab.qte*(tab.article.price * (1 - tab.article.discount / 100)) | currency }}
                        </span>
                        <br>
                        
                  }@else {
                    <span class="fw-bold fs-5" >
                      {{ tab.qte* tab.article.price | currency }}
                    </span>
                }
            </td>
            <td class="align-content-center align-items-center">
                <button class="btn btn-danger" (click)="delete($index)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                    delete
                  </button>
            </td>
          </tr>
        }
        </tbody>
      </table>
      
      <div class="container mt-4">
        <div class="card shadow-sm p-4">
          <h4 class="fw-bold">Panier</h4>
          
          <hr />
          <form [formGroup]="orderForm" (ngSubmit)="onSubmit(); orderForm.reset()">
            <div  class="d-flex justify-content-between">
                <input type="text" class=" form-control col-md-3" placeholder="tap your name" name="author"  formControlName="clientName">
            
                <input class=" form-control col-md-3"
                 type="number" placeholder="tap your phone number"
                  name="clientPhoneNumber" formControlName="clientPhoneNumber"
                >
                <input class=" form-control col-md-3" type="text" placeholder="tap your adress" name="clientAdress" formControlName="clientAdress">
            </div>
            <hr />

          <div class="d-flex justify-content-between">
            <span class="fw-bold">Total</span>
            <span class="fw-bold fs-5">{{total|currency}} </span>
          </div>
          <hr />


          <button class="btn btn-dark w-100 py-2 mt-3" type="submit"  [disabled]="orderForm.invalid">Payer</button>
        </form> 
        </div>
      </div>

      

 
}
<h2 routerLink="/home" class="text-success">continue shopping</h2>

</tbody>

<app-edit-order></app-edit-order>