<!-- Page de l'artiste -->
<div class="container my-5">
    <!-- Détails de l'artiste -->
    <div class="row">
      <div class="col-md-6">
        <!-- Image de l'artiste (grande image) -->
        <img src="artists\raffin.jpg" alt="Raffin Christian" class="img-fluid rounded shadow-lg">
      </div>
      <div class="col-md-6">
        <h1 class="display-4">About Raffin Christian</h1>
        <p class="lead">
          Raffin Christian is a French artist born in 1957 in Isère, the French alps. When he was only a young teenager, he became passionate about art and more particularly for drawing thanks to one of his teachers in college. 
        </p>
        <p>
          For sometime he put this passion aside in order to dedicate to his studies in engineering.
        </p>
        <p>
          Once he graduated, he installed himself in Tunisia from 1982 to 1984 where he practiced photography and tried painting, imbuing himself in the colors of the country.
        </p>
      </div>
    </div>
   <h2 class="margin"> Raffin Christian's famous paintings</h2>
    <!-- Section des 4 tableaux -->
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="card">
          <img src="figuratif\Raffin-Christian\imgR1.jpg" alt="La Joconde" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">La Joconde</h5>
            <p class="card-text">Un portrait légendaire de Lisa Gherardini, également connu sous le nom de "Mona Lisa".</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img src="figuratif\Raffin-Christian\imgR2.jpg" alt="La Cène" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">La Cène</h5>
            <p class="card-text">Une représentation de la dernière cène de Jésus avec ses disciples.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img src="figuratif\Raffin-Christian\imgR3.jpg" alt="L'Annonce de la Mort" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">L'Annonce de la Mort</h5>
            <p class="card-text">Un tableau mythique représentant l’instant de la mort de Jésus Christ, peint par Léonard de Vinci.</p>
          </div>
        </div>
      </div>
 
    </div>
  </div>
  