<section id="about-us" class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>
                Welcome to our online gallery, where art meets passion. We specialize in selling exquisite tables
                designed by renowned artists such as Pablo Picasso, Vincent van Gogh, and Claude Monet. Our mission
                is to bring the world’s most captivating art into your everyday spaces, blending functionality
                with unmatched aesthetics.
            </p>
            <p>
                Each piece is carefully curated to ensure quality and authenticity, offering you a unique chance to
                own a masterpiece that transforms your home or office into a haven of creativity.
            </p>
        </div>
        <div class="col-md-6">
            <img src="aboutUsPhotos\aboutUs.jpg" alt="Art Table" class="about-image img-fluid rounded" width="800px" height="700px">
        </div>
    </div>
</section>

<section id="team" class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">Our Team</h2>
        <div class="row">
       
            <div class="col-md-4 d-flex">
                <div class="card w-100">
                    <img src="team\im1.jpg" alt="Emma Wilson" class="card-img-top img-fluid" >
                    <div class="card-body text-center d-flex flex-column">
                        <h5 class="card-title">Ismaili Nouha</h5>
                        <div class="card-text">
                            <p>
                                <i class="bi bi-facebook"></i>Facebook
                            </p>
                            <p>
                                <i class="bi bi-instagram"></i> Instagram 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
           
    
            <div class="col-md-4 d-flex">
                <div class="card w-100">
                    <img src="team\im2.jpg" alt="Sophia Brown" class="card-img-top img-fluid">
                    <div class="card-body text-center d-flex flex-column">
                        <h5 class="card-title">Omrani Islem</h5>
                        <div class="card-text">
                            <p>
                                <i class="bi bi-facebook"></i>Facebook
                            </p>
                            <p>
                                <i class="bi bi-instagram"></i> Instagram 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
