<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow-lg p-4" style="width: 40rem; border-radius: 15px;">
        <h2 class="text-center mb-4">Login</h2>
        <form [formGroup]="userForm" class="needs-validation">

            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <div>
                    <input type="email" name="email" placeholder="Username@gmail.com" 
                        formControlName="email" class="form-control-plaintext" />
                    @if(isValidEmail()){
                    <div class="alert alert-danger mt-2">
                        Email invalid!
                    </div>
                    }
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div>
                    <input type="password" name="password" placeholder="············" 
                        formControlName="pwd" class="form-control-plaintext" />
                    @if(isValidpwd()){
                    <div class="alert alert-danger mt-2">
                        Password must be at least 6 characters long!
                    </div>
                    }
                </div>
            </div>

            @if(!isValid){
            <div class="alert alert-danger">
                Incorrect password or email!
            </div>
            }

            <button class="btn btn-success w-100" [disabled]="userForm.invalid" (click)="onSubmit()">Login</button>
        </form>
        
        <div class="d-flex justify-content-between mt-3">
            <a routerLink="/pwdChange" class="text-decoration-none">Change password</a>
            <a routerLink="/" class="text-decoration-none">Back</a>
        </div>
    </div>
</div>
