<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow-lg p-4" style="width: 40rem; border-radius: 15px;">
      <h2 class="text-center mb-4">Add A New Product</h2>
      <form formGroup="productForm">
        <div class="mb-3">
          <label for="name" class="form-label">Name of product</label>
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="Entrez le nom du produit">
        </div>
  
        <div class="mb-3">
          <label for="photo" class="form-label">URL of photo</label>
          <input type="text" id="photo" class="form-control" formControlName="photo" placeholder="Entrez l'URL de la photo">
        </div>
        <div class="mb-3">
            <label for="photo" class="form-label">Date of the product</label>
            <input type="text" id="photo" class="form-control" formControlName="photo" placeholder="Date of the product">
          </div>
          <div class="mb-3">
            <label for="photo" class="form-label">Description</label>
            <input type="text" id="photo" class="form-control" formControlName="photo" placeholder="Description">
          </div>
  
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="height" class="form-label">Height (cm)</label>
            <input type="number" id="height" class="form-control" formControlName="height" placeholder="0">
          </div>
          <div class="col-md-6 mb-3">
            <label for="width" class="form-label">Width(cm)</label>
            <input type="number" id="width" class="form-control" formControlName="width" placeholder="0">
          </div>
        </div>
  
        <div class="mb-3">
          <label for="painter" class="form-label">Name of artist</label>
          <input type="text" id="painter" class="form-control" formControlName="painter" placeholder="Entrez le nom de l'artiste">
        </div>
  
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="price" class="form-label">Price (€)</label>
            <input type="number" id="price" class="form-control" formControlName="price" placeholder="0">
          </div>
          <div class="col-md-6 mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" id="quantity" class="form-control" formControlName="quantity" placeholder="0">
          </div>
        </div>
  
        <div class="mb-3">
          <label for="discount" class="form-label">Reduction (%)</label>
          <input type="number" id="discount" class="form-control" formControlName="discount" placeholder="0">
        </div>
  
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select id="category" class="form-select" formControlName="category">
          
  @for(category of categories;track $index){
    <option  [value]="category">{{category}}</option>
 }
          </select>
        </div>
  
        <div class="form-check mb-3">
          <input type="checkbox" id="disponibility" class="form-check-input" formControlName="disponibility">
          <label for="disponibility" class="form-check-label">Disponible</label>
        </div>

        <!-- <p>Form Value: {{ productForm.value }}</p> -->
        
        <button type="submit" class="btn btn-success w-100" [disabled]="productForm.invalid" (click)="addProduct()">Add a product</button>
      </form>
    </div>
  </div>
  
  





















